---
---

@import "{{ site.theme }}";

body {
    text-align: right;

    tr {
        line-height: 40px;
    }

    th, td {
        padding: 0 20px;
        direction: rtl;
    }

    ul, ol {
        direction: rtl;
    }

    .work-links {
        padding: 4em 0;
    }

    #main-content {
        h1, h2, h3, p {
            direction: rtl;
        }
        
        h2 {
            &:before {
                margin-right: -1.5em;
                margin-left: 0;
            }
        }
        h1 {
            &:before {
                margin-right: -0.9em;
                margin-left: 0;
            }
        }
        h3 {
            &:before {
                margin-right: -2em;
                margin-left: 0;
            }
        }
    }
}